{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>MoraChat</h1>
    <hr>
    {% for message in messages reversed %}
    <h3> {{ message.author }}</h3>

    <small>
        {{ message.created_on.date }}   &nbsp;
    </small>
    <p>{{ message.body | slice:":400" }}</p>
    {% endfor %}

    <div class="pagination">
    <span class="step-links">
        {% if messages.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ messages.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ messages.number }} of {{ messages.paginator.num_pages }}.
        </span>

        {% if messages.has_next %}
            <a href="?page={{ messages.next_page_number }}">next</a>
            <a href="?page={{ messages.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

    <h3>Send a message:</h3>
    <form action="/chat" method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.author }}
        </div>
        <div class="form-group">
            {{ form.body }}
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>
</div>
{% endblock %}